﻿@using BusinessLogic.Interfaces;
@inject IFavoriteService favoriteService;
@model Announcement

<div class="card text-center">
    <h5 class="card-header">Product Information</h5>
    <div class="card-body">
        <h5 class="card-title fs-1">@Model.Title</h5>
        <p class="card-text fs-4">@Model.Price$ - @Model.Category?.Name</p>
        <div>
            @if (favoriteService.IsExists(Model.Id))
            {
                <a asp-controller="Favorite" asp-action="Remove" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-secondary">Remove from Cart</a>
            }
            else
            {
                <a asp-controller="Favorite" asp-action="Add" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-primary">Add to Cart</a>
            }
            <a href="#" class="btn btn-success my-3">Buy Now</a>
        </div>
        <div>
            <img src="@Model.ImageUrl" alt="Product Image" />
        </div>
        <p class="card-text">@Model.Description</p>
    </div>
</div>