@model Announcement;

<div class="card text-center">
    <h5 class="card-header">Product Information</h5>
    <div class="card-body">
        <h5 class="card-title fs-1">@Model.Title</h5>
        <p class="card-text fs-4">@Model.Price$ - @Model.Category?.Name</p>
        <div>
            <a href="#" class="btn btn-primary my-3">Add to Cart</a>
            <a href="#" class="btn btn-success my-3">Buy Now</a>
        </div>
        <div>
            <img src="@Model.ImageUrl" alt="Product Image" />
        </div>
        <p class="card-text">@Model.Description</p>
    </div>
</div>