﻿@using BusinessLogic.Interfaces;
@inject IFavoriteService favoriteService;
@model Announcement
@*<div class="card mb-3 h-100">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@Model.ImageUrl" class="img-fluid rounded-start image-view" alt="Image url">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">@Model.Title</h5>
                    <p>@Model.Price$</p>
                </div>
                <p class="card-text">@Model.Description</p>
                <p class="card-text"><small class="text-body-secondary">@Model.City?.Name</small></p>
            </div>
        </div>
    </div>
</div>*@
<div class="my-card mb-3">
    <div>
        <a asp-controller="Announcements"
           asp-action="Details"
           asp-route-id="@Model.Id"
           asp-route-returnUrl="@Context.Request.Path">
            <img src="@Model.ImageUrl" class="img-fluid rounded-start image-view" alt="Image Url">
        </a>
    </div>
    <div class="card-body">
        <div>
            <div class="d-flex justify-content-between">
                <a class="title-link"
                   asp-controller="Announcements"
                   asp-action="Details"
                   asp-route-id="@Model.Id"
                   asp-route-returnUrl="@Context.Request.Path">
                    <h5 class="card-title">@Model.Title</h5>
                </a>
                <p>@Model.Price$</p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="card-text"><small class="text-body-secondary">@Model.City?.Name</small></p>
                @if (favoriteService.IsExists(Model.Id))
                {
                    <a asp-controller="Favorite" asp-action="Remove" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-secondary">Remove from Cart</a>
                }
                else
                {
                    <a asp-controller="Favorite" asp-action="Add" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-primary">Add to Cart</a>
                }
            </div>
        </div>
    </div>
</div>